<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Formulario de registro</title>
</head>

<body>
  <header>
    <h2>Meli Darkside</h2>
    <nav>
      <ul>
        <li>Formulario de Cotización</li>
        <li>Planeación del diseño</li>
        <li>Ejemplos</li>
      </ul>
    </nav>
  </header>
  <section>
    <div class="main_video_background">
      <h1>WELCOME TO THE DARKSIDE</h1>
      <img src="/media/logo true.png" alt="" srcset="">
    </div>
    <video src="/media/video.mp4" autoplay muted loop class="main_video"></video>
  </section>
  <main>
    <article class="title_form">
      <h1>Formulario de cotización</h1>
      <p>Agradezco tu interés por tatuarte conmigo, es sumamente importante tener una comunicación clara y completa,
        para ello solicito que rellenes los campos con la mayor claridad y brevedad posible para darte una pronta
        respuesta.</p>
    </article>
    <form action="datos.php" method="get">
      <div class="main_form">
        <div class="user-box">
          <input type="text" name="nombres" required>
          <label>Nombre y apellido:</label>
        </div>
        <div class="user-box">
          <input type="email" name="email" required>
          <label>E-mail:</label>
        </div>
        <div class="user-box">
          <input type="text" name="instagram" required>
          <label>Usuario de Instagram:</label>
        </div>
        <div class="user-box">
          <input type="number" name="numero" required>
          <label>Número de celular:</label>
        </div>
        <div class="user-box">
          <label>Pais / Ciudad</label>
          <select name="pais" id="">
            <option value="col">Colombia</option>
            <option value="ger">Alemania</option>
          </select>
        </div>
        <div class="user-box">
          <label>Descripción de lo que quieres hacerte:</label>
          <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="user-box">
          <input type="text" name="ubicacion">
          <label>Ubicación corporal:</label>
        </div>
        <div class="user-box">
          <input type="text" name="tamaño">
          <label>Tamaño aproximado en cms: <em>(Especificar área deseada a tatuar)</em></label>
        </div>
        <div class="user-box">
          <input type="file" name="referencia" class="file_input">
          <label>Adjuntar fotos de referencia: <em>(Especificar que te gusta de la referencia)</em></label>
        </div>
        <div class="user-box">
          <input type="file" name="fotos_area" class="file_input">
          <label>Fotos del área a tatuar: <em>(Deben ser tomadas estando de pie, donde se visualice completamente como
              en los ejemplos)</em></label>
        </div>
        <div class="user-box-submit">
          <input type="submit" name="submit" value="ENVIAR" class="submit_button">
        </div>
      </div>
    </form>
    <section class="notes">
      <h2><b>Notas:</b></h2>
      <ul class="notes_pointer">
        <li>Si el tatuaje que quieres es un cover up (tapar algo) se debe evaluar la solución adecuada, esto toma más
          tiempo Y presupuesto que un tatuaje normal.</li>
        <li>No se hacen diseños de otros artistas, el diseño se crea a partir del dialogo, nuestras ideas y mi línea
          grafica. </li>
        <li>No se terminan piezas de otros artistas. </li>
        <li>No se hacen tatuajes a color.
        </li>
        <li>No se hacen tatuajes de rostros o muy figurativos. </li>
      </ul>
    </section>
    <section class="planner">
      <div class="hoverable_image">
        <div class="hov_section">
          <img src="/media/DSC00408.jpg" alt="" height="500px" height="auto">
        </div>
        <div class="hov_section">
          <h3><b>Planeación del diseño</b></h3>
          <p>Si vamos a iniciar un proyecto el día de la cita asignaremos 1 o 2 horas las cuales destinaremos a
            desarrollar juntos el diseño de tu tatuaje y compartir ideas, ten en cuenta que te entregare un diseño único
            en mi estilo y estoy destinando tiempo de mi trabajo con los conocimientos y estudios que he llevado acabo
            para llegar a ello.</p>
        </div>
      </div>
      <div class="hoverable_image">
        <div class="hov_section">
          <p>Si vienes de otra ciudad podemos hacer una asesoría virtual o presencial un día antes de tu cita para
            hablar del diseño y desarrollarlo juntxs, todo esto se coordinara una vez pactada la cita.</p>
        </div>
        <div class="hov_section">
          <img src="/media/B021AAEE-9608-423C-980F-7F04BF339BD5.JPG" alt="" height="500px" height="auto">
        </div>
      </div>
      <div class="hoverable_image">
        <div class="hov_section">
          <img src="/media/DSC00479.jpg" alt="" width="500px" height="auto">
        </div>
        <div class="hov_section">
          <h3>Si decidiste tatuarte conmigo, ten en cuenta que:</h3>
          <p>En el precio de tu tatuaje va incluido el diseño y un parche de tela que aportara a la bioseguridad y
            rápida curación de tu tatuaje.</p>
        </div>
      </div>
      <div class="hoverable_image">
        <div class="hov_section">
          <p>Mi propósito a través del arte que hago, es devolver al tatuaje todo lo que me ha brindado y dejarle un
            legado de amor, una parte de ello la lograre dejándote un tatuaje que perdure y te sientas idetificad@ con
            él. por eso es importante que para tu cita tengas disponibilidad de tiempo, paciencia, buen umbral de dolor,
            el mismo respeto al tatuaje y el tiempo destinado a su optimo desarrollo.</p>
        </div>
        <div class="hov_section">
          <img src="/media/DSC00579.jpg" alt="" width="500px" height="auto">
        </div>
      </div>
      <div class="hoverable_image">
        <div class="hov_section">
          <img src="/media/DSC01009.JPG" alt="" width="500px" height="auto">
        </div>
        <div class="hov_section">
          <p>Teniendo en cuenta lo anterior queremos recordar que los proyectos de manejan por sesiones, cada una de 4
            horas.</p>
        </div>
      </div>
    </section>
    <section class="planner">
      <h3>Ejemplo de las fotos del área a tatuar:</h3>
      <img src="/media/body.jpg" alt="" width="500px" height="auto">
    </section>
  </main>
  <footer>
    <div class="footer">
      <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="row">
        <ul>
          <li><a href="#">Contáctame</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="row">
        EXOZ Copyright © 2023 Inferno - All rights reserved || Designed By: EXOZ
      </div>
    </div>
  </footer>
</body>

</html>